@import "../functions.scss";
@import "../colors.scss";

.information {
  div {
    @include DisplayFlex(row, center, center);
    margin: 0.8rem 0;
    width: auto;

    p {
      @include DisplayFlex(column, center, center);

      svg {
        @include HeightWidth(22px, 22px);
      }
    }
  }

  span {
    strong {
      color: $text;
      font-weight: 600;
    }
  }
}
