@import "../functions.scss";

.information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr 1fr 1fr 1fr;

  figure {
    @include DisplayFlex(column, center, center);
    width: 100%;

    img {
      @include HeightWidth(32px, 32px);
    }
  }
}
