// Light Mode
$background: hsl(0, 0%, 90%);
$blocks: hsl(0, 0%, 97%);

$title: hsl(0, 0%, 25%);
$sub-title: hsl(0, 0%, 25%);
$text: hsl(0, 0%, 25%);

$text-opacity: hsla(0, 0%, 100%, 0.671);

$white: hsl(0, 0%, 100%);
$semi-white: hsl(0, 13%, 95%);

$black: hsl(24, 14%, 7%);
$green: hsl(120, 50%, 60%);
